:root {
  --primary: blue;
  --light: white;
}
.App-container {
  display: grid;
  grid-template-columns: 50vh;
  grid-template-rows: 50vw;
  place-content: center center;
  place-items: center center;
  background-color: violet;
}
.btn {
  border: none;
  outline: none;
  padding: 0.5em;
  margin: 0.5em;
}
.btn-primary {
  background-color: var(--primary);
  color: var(--light);
  font-weight: bold;
}
.text-muted {
  opacity: 0.5;
}
