:root {
  --primary: blue;
  --light: white;
  --primary-hover: rgb(18, 18, 105);
}

.App-container {
  display: grid;
  grid-template-columns: minmax(min-content, 50vh);
  grid-template-rows: 100vh;
  place-content: center center;
  place-items: center center;
  background-color: rgb(35, 182, 182);
}
.btn {
  border: none;
  outline: none;
  padding: 0.5em;
  margin: 0.5em;
}
.btn-primary {
  background-color: var(--primary);
  color: var(--light);
  font-weight: bold;
  &:hover {
    cursor: pointer;
    background-color: var(--primary-hover);
  }
}

.text-muted {
  opacity: 0.5;
}
$margins: 1, 2, 3;
@each $size in $margins {
  .mt-#{$size} {
    margin-top: $size + rem;
  }
}

.quotes-container {
  padding: 2em;
  display: flex;
  flex-flow: column nowrap;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  // transition: all 10s linear 3s;
}

// HACK:Animating loading
.loading {
  font-size: 45px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-align: center;
  span {
    display: inline-block;
    margin: 0 -0.05em;
  }
}
.loading08 {
  span {
    position: relative;
    color: rgba(#000, 0.2);
    animation: loading08-parent 2s infinite;
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      content: attr(data-text);
      color: #fff;
      opacity: 0;
      animation: loading08-child 2s infinite;
    }
    @for $i from 1 through 6 {
      &:nth-child(#{$i + 1})::after {
        animation-delay: #{$i * 0.2}s;
      }
    }
  }
}
@keyframes loading08-parent {
  0%,
  35%,
  100% {
    color: rgba(#000, 0.2);
  }
  60%,
  80% {
    color: #fff;
  }
}
@keyframes loading08-child {
  0% {
    opacity: 1;
  }
  25%,
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 576px) {
  .quotes-container {
    max-width: 90%;
    min-height: 60%;
  }
}
// .quote-div {
//   // margin-top: -202px;
//   // opacity: 0;
//   // overflow: hidden;
// }
.hide {
  animation: animatequote 3s ease;
}
@keyframes animatequote {
  from {
    margin-top: -202px;
    opacity: 0;
  }
  to {
    margin-top: 5px;
    opacity: 1;
  }
}
